#about_hero {
    height: 100vh;
    background: url(../../assets/About_usHero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about_hero-text {
    width: 610px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.about_hero-text p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #FFC178;
    margin-bottom: 36px;
}

.about_hero-text h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 84px;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 80px;
    color: #FFF;
}

.about_hero-text span {
    font-size: 62px;
    font-weight: 500;
    font-style: italic;
    color: #ffffffcc;
}

@media (max-width: 950px) {
    .about_hero-text {
        width: 546px;
        left: 5%;
    }

    .about_hero-text span {
        font-size: 52px;
    }
}

@media (min-width: 280px) and (max-width: 575px) {
    .about_hero-text {
        width: 284px;
    }

    .about_hero-text p {
        font-size: 14px;
        letter-spacing: 2px;
    }

    .about_hero-text h1 {
        font-size: 42px;
        line-height: 48px;
    }

    .about_hero-text span {
        font-size: 30px;
    }
}