.navbar {
    position: absolute !important;
    width: 100%;
    z-index: 1;
}

.navbar .nav-link {
    margin: 0px 16px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: #FBD784;
}

.menu-button a {
    width: 148px;
    height: 40px;
    border-radius: 15px;
    background: #FFA343;
    text-align: center;
    line-height: 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    color: #181818;
}

@media (max-width: 950px){
    .navbar {
        text-align: center;
        background: #999;
    }

}