@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
}

h1,h2,h3,h4,h5,h6,p,ul {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  background: #000;
}